html,
body,
*{
    padding: 0;
    margin: 0;
    background-color: rgb(178, 203, 248);
    color: rgb(0,0,0);
    font-family: 'Tajawal', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    position: static;
}
.main-header{
    padding: 5rem;
    background-color: rgb(219, 198, 240);
    text-align: center;
    margin: 0%;
    font-size: 8.5rem;
    border: solid rgb(124, 112, 180) 1rem;
}
.first-row{
    margin: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.second-row{
    margin-left: .6rem;
    margin-top: 4.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.third-row{
    margin: 1rem;
    margin-top: 4.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.animal-name{
    font-size: 5rem;
    text-align: center;
    width: 30vw;
    height: 30vw;
    border: 0.5rem solid rgb(44, 61, 155);
    margin: 1rem;
    background-color: rgb(219, 220, 245);
    box-sizing: border-box;
    box-shadow: 1vw 1vw 1vw rgb(5, 6, 56);
    position: relative;
}
.pics{
    width: 29.5vw;
    height: 25.3vw;
    object-fit: cover;
    margin-left: 1.5rem;
    margin-top: -50rem;
    position: relative;
}
#doghover{
    position: relative;
}
#doghover:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}
#cathover:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
#rabbithover:hover {
    transform: scaleY(1.05);
    transition: 0.5s ease-in-out;
}
#parrothover:hover {
    transition: all 1s;
    transform: translate(-10px);
}
#pighover:hover {
    transform: scaleX(1.05);
    transition: 1s ease-in-out;
}
#horsehover:hover {
    transform: translate(0,10px);
    transition: all 1s;
}
#sheephover:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}
#lionhover:hover {
    transform: scale(1.05);
    transition: linear 0.5s;
}
#elephanthover:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.main-header{
    animation-duration: 10s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    33% {
      margin-left: -75%;
      width: 200%;
    }
    66% {
        margin-left: -25%;
        width: 200%;
    }
    99% {
        margin-left: 0%;
        width: 100%;
    }
  }
@media screen and (max-width: 50rem){
    .main-header{
        color: purple;
    }
    .animal-name{
        font-size: 3rem;
        height: 25rem;
        position: relative;
    }
    .pics{
        margin-top: -21.5rem;
        width: 23rem;
        position: relative;
    }
}
@media screen and (max-width: 35rem){
    .main-header{
        color: rgb(0, 2, 128);
        font-size: 5rem;
    }
    .animal-name{
        font-size: 3rem;
        height: 20rem;
        position: relative;
    }
    .pics{
        margin-top: -15.5rem;
        width: 15.75rem;
        position: relative;
    }
}