html,
body,
*{
    padding: 0;
    margin: 0;
    background-color: rgb(178, 203, 248);
    color: rgb(0,0,0);
    font-family: 'Tajawal', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}
.main-header{
    padding: 5rem;
    background-color: rgb(219, 198, 240);
    text-align: center;
    margin: 0%;
    font-size: 8.5rem;
    border: solid rgb(124, 112, 180) 1rem;
}
.first-row{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.third-row{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.animal-name{
    font-size: 5rem;
    text-align: center;
    width: 30vw;
    height: 30vw;
    border: 0.5rem solid rgb(44, 61, 155);
    margin: 1rem;
}